<div class="container">
        <div>
            <h1>Ingrese un producto</h1>
            <form action="/productos" method="post">
                <div class="mb-3 row">
                    <label for="title" class="col-sm-2 col-form-label">Título</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="title" id="title" placeholder="Título">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="price" class="col-sm-2 col-form-label">Precio</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="price" id="price" placeholder="Precio">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="thumbnail" class="col-sm-2 col-form-label">URL imagen</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="thumbnail" id="thumbnail" placeholder="URL imagen">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-6">
                        <input class="btn btn-primary" type="submit" value="Agregar producto" style="width: 100%;">
                    </div>
                    <div class="col-sm-6">
                        <a href="/productos" class="btn btn-danger" style="width: 100%;">Ver listado</a>
                    </div>
                </div>
            </form>
        </div>
</div>
